<head>
 <title>Book Library web App</title>
 <link rel="icon" href="/images/favicon.ico">
 <meta name="viewport" content="width=device-width , initial-scale=1.0">
 <link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  
 <script>
    function checkCheckBox(f){
      if (f.agree.checked == false )
      {
        alert('Please check the box to continue.');
        return false;
      }else
       return true;
    }



</script>
</head>
<body>
    {{> header}}
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.js"></script>
    <script src="/validation/validate.js"></script>
    {{{ body }}}
    {{> footer}}
</body>