<div align="center">
    {{#if hasErrors}}
        <div class="errors">
            {{# each messages }}
                <strong> {{this}}</strong>
            {{/each}}
        </div>
    {{/if}}
</div>

<div>
    <fieldset>
        <form action="/user/change_password" method="post">
            <h1>Change Password</h1>
            Email:<br>
            <input type="text" name="email" autofocus required>
            <br>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <input type="submit" class=" primary"value="Change Password">
            <a  class="primary" href="javascript:history.back()"><i class="fa fa-arrow-left"></i> Go Back</a>
        </form>
    </fieldset>
</div>