<div>
    {{# flashMessages}}
        <ul class="success">
            <li>{{this}}</li>
        </ul>
    {{/flashMessages}}
</div> 
<a style="float:right " href="/user/change_password"><b>Change Password</b></a>
{{# if user}}
<h1> welcome {{user.email}}</h1>
{{/if}}



