<div align="center">
    {{#if hasErrors}}
        <div class="errors">
            {{# each messages }}
                <strong> {{this}}</strong>
            {{/each}}
        </div>
    {{/if}}
</div>

<div>
    <fieldset>
        <form action="/user/change/{{user.changePasswordOtp}}" method="post" id="sign-Form">
            <h1>Reset Password</h1>
            Password:<br>
            <input type="password" name="password" id="password" placeholder='New password' autofocus='true' required>
            <br>
            Confirm Password:<br>
            <input type="password" name="confirm" id="confirm password" placeholder='Confirm password'autofocus='true' required>
            <br>
            <br>
            {{!-- {{user}} --}}
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <input type="submit" class="primary"value="Update Password">
        </form>
    </fieldset>
</div>