
/* .checkout {
    -webkit-column-count: 3;
    -webkit-column-gap: 40px; 
} */
/* .checkout {
    margin-top: 10px;
    padding: 5px;
    background-color: #4CAF50
} */
.grid-container {
    max-width: 50%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: rgb(129, 174, 212);
    padding: 5px;
  }

  .grid-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding:5px 0;
    font-size: 16px;
  }

fieldset {
    width: 60%; margin-left:auto; margin-top:20px;margin-right:  auto;
}

green {
    color: #4CAF50;
}

.badge1 {
    position:relative;
 }
 .badge1[data-badge]:after {
    content:attr(data-badge);
    position:absolute;
    top:-10px;
    right:-10px;
    font-size:.7em;
    background:rgb(246, 247, 246);
    color:rgb(8, 8, 8);
    width:18px;height:18px;
    text-align:center;
    line-height:18px;
    border-radius:50%;
    box-shadow:0 0 1px #333;
 }
#updategenre {
    float: left;
}

.description {
    color: grey;
  }

  .h5, h5 {
    font-size: 2.25rem;
    margin-left: 19px;
}

.pull-right {
    float: right;
    margin-right: 4px;
}
.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.headlist {
    float: left;
   
}

.headlist a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.headlist a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

h {
    font-size: 32px;
}

ol li {
    padding: 5px;
    margin-left: 20px;
    font-size: 25px;
}
#delete {
    background-color: rgb(255, 11, 2);
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 6px;
    margin-right: 10px;
    margin-bottom: 16px;
    cursor: pointer;
    float: right;
    border-radius: 5px;
}
#update {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 6px;
    margin-right: 10px;
    margin-bottom: 16px;
    cursor: pointer;
    float: right;
    border-radius: 5px;
}
.button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 6px;
    margin-right: 10px;
    margin-bottom: 16px;
    cursor: pointer;
    float: right;
    border-radius: 5px;
}
.primary{
    background-color: rgb(13, 166, 226);
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 6px;
    margin-right: 10px;
    margin-bottom: 16px;
    cursor: pointer;
    float: none;
    border-radius: 5px;
}

th {
    padding: 10px;
}

/* p {
    max-width: 80%;
    margin: 25px;
} */
.addgenre {
    margin-top: 30px;
    align-self: center;
    align-content: center;
}
form {
    margin-left:  auto;margin-right:  auto;
     padding-left: 180px;
}

/* input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
} */
 b {
     font-size: 100%;
 }

 div {
    border-radius: 10px;
}
/* #button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 6px;
    margin-right: 10px;
    margin-bottom: 16px;
    cursor: pointer;
    float: right;
    border-radius: 5px;
} */

#footer{
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

.success {
    background-color: rgb(134, 223, 137);
    border-radius: 5px;
}
.errors {
    background-color: rgb(255, 155, 155)
}

.center_div{
    margin-left: 460px;
    margin-top: 10px;
}

input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.label {
    margin-right: 200px;
    font-size: 120%;
}

#para {
    font-size: 120%;
        margin: 0px;
        margin-top: 80px;
        margin-left: 13px;
        color: grey;
}


input[type=checkbox] {
    margin-right: 4px;
}

#button {
    float: right;
    margin-left: 0px;
 
    margin-top: 6px;
}

.container1 {
    /* margin-right: 100px; */
    margin-left: 180px;
}

caption , h1 {
    /* margin-right: 100px; */
}

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

.navbar a {
    /* float: left; */
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 17px 16px;
    text-decoration: none;
}



.dropdown {
    float: right;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#login {
    /* margin-left: 300px; */
    margin-top: 20px;
    /* margin-right: 300px; */
}

#signup {
    /* margin-left: 300px; */
    margin-top: 20px;
    /* margin-right: 300px */
    width: 100%
}


#name ,#description ,#author ,#price{
    width: 100%
}

.error {
    color: red;
}















